*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body h1{
    text-align: center;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    white-space: nowrap;
}

th {
    border: 1px solid #ddd;
    padding: 12px;
    background-color: #673ab7;
    color: #fff;
    text-align: left;
    white-space: nowrap;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr {
    transition: background-color 0.3s ease;
}
  

tbody tr:hover {
    background-color: #e9ecef;
}

#pdf-viewer {
    width: 100%;
    height: 600px;
    border: none;
    margin-bottom: 20px;
  }

  thead {
    background-color: #f9f9f9;
  }

  td.reporte {
    max-width: 200px;       /* Ancho máximo (ajusta el valor según necesites) */
    overflow-wrap: break-word; /* Permite que las palabras se dividan y pasen a la siguiente línea */
    white-space: normal;       /* Permite el wrap del texto */
  }
  
  /* Opcional: Ajuste de fuente y padding para pantallas pequeñas */
  @media screen and (max-width: 600px) {
    th, td {
      padding: 8px;
      font-size: 14px;
    }
  }