body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

body h1{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    border: 1px solid #ddd;
    padding: 12px;
    background-color: #673ab7;
    color: #fff;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr {
    transition: background-color 0.3s ease;
}
  

tbody tr:hover {
    background-color: #e9ecef;
}

#pdf-viewer {
    width: 100%;
    height: 600px;
    border: none;
    margin-bottom: 20px;
  }