table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  .form{
    display: flex;
    justify-self: center;
    width: 100wh;
  }